html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1em;
}
body {
	background-color: #f3f3f3;
	background-image: url(assets/page-base.png?1);
	background: #A9BAC3 url(bg.gif) repeat-x;
}

#wrap {
	background: #FFF;
	width: 820px; height: 100%;
	margin: 0 auto;	
	text-align: left;
}

/* header */
#header {
	height: 85px;	
	background: #000 url(headerbg.gif) repeat-x 0% 100%;	
}
#header-wrap {
	position: relative;
}
#header h1#logo {
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 45.1px 'Trebuchet MS', Arial, Sans-serif;
	letter-spacing: -2px;
	top: 0; left: 5px;
	margin-top: 10px;
	padding-top: 10px;
        color: #6297BC; 
	border: none;
}
#header h1#logo a {
   color: #6297BC; 
   text-decoration:none;
}

#header h2#slogan {        
	position: absolute;	 
	top:37px; left: 95px;
	color: #666666;
	text-indent: 0px;
	font: bold 11px Tahoma, 'trebuchet MS', Sans-serif; 
	text-transform: none;	
	padding-top: 30px;
	padding-right: 30px;
	margin: 10px 15px;
	border: none;
}

/* menu tabs */
#header ul {
	z-index: 999999;
	position: absolute;
   margin:0; padding: 0;
   list-style:none;
	right: 0; 
	bottom: 6px !important; bottom: 5px;
	font: bold 13px  Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;	
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header li a {
   float:left;
   background: url(tableft.gif) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header li a span {
   float:left;
   display:block;
   background: url(tabright.gif) no-repeat right top;
   padding:6px 15px 3px 8px;
   color: #FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header li a:hover span {
	color:#FFF;
}
#header li a:hover {
   background-position:0% -42px;
}
#header li a:hover span {
   background-position:100% -42px;
}
#header #current a {
   background-position:0% -42px;
	color: #FFF;
}
#header #current a span {
   background-position:100% -42px;
	color: #FFF;
}
/* end menu tabs */

#status {
	font-size: 0.8em;
}

/* sidebar */
#sidebar {
	margin: 0; padding: 0; 
	display: inline;		
}

#sidebar ul.sidemenu {
	font-size: 0.8em;
	list-style:none;
	margin:10px 0 10px 15px;
	padding:0;		
}
#sidebar ul.sidemenu li {
	margin-bottom:1px;
	border: 1px solid #f2f2f2;
}
#sidebar ul.sidemenu a {
	display:block;
	font-weight:bold;
	color: #333;	
	text-decoration:none;	
	padding:3px 5px 3px 10px;
	background: #f2f2f2;
	border-left:4px solid #CCC;	
	min-height:18px;
}

#sidebar ul.sidemenu a:hover {
	padding:3px 5px 3px 10px;
	background: #f2f2f2;
	color: #339900;
	border-left:4px solid #9EC630;
}


/* Content */
#content {
	padding: 1em;
	background-image: url(assets/border.png?1);
	background-position: top left;
	background-repeat: repeat-y;
	background-color: white;
	color: black;
}


/* additional classes */
.clear { clear: both; }
.green {	color: #9EC630; }
.gray  {	color: #BFBFBF; }


/*
 * 
 * The following code is slightly modified from monobook
 * 
 */
#content {
	line-height: 1.5em;
}
#bodyContent {
	font-size: 0.8em;
}
/* Links */
a {
	text-decoration: none;
	color: #0645ad;
	background: none;
}
a:visited {
	color: #0b0080;
}
a:active {
	color: #faa700;
}
a:hover {
	text-decoration: underline;
}
a.stub {
	color: #772233;
}
a.new, #p-personal a.new {
	color: #ba0000;
}
a.new:visited, #p-personal a.new:visited {
	color: #a55858;
}

/* Inline Elements */
img {
	border: none;
	vertical-align: middle;
}
hr {
	height: 1px;
	color: #aaa;
	background-color: #aaa;
	border: 0;
	margin: .2em 0 .2em 0;
}

/* Structural Elements */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
	width: auto;
}
h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3,
h4,
h5,
h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%;  }
h6 .editsection { font-size: 125%; font-weight: normal; }
p {
	margin: .4em 0 .5em 0;
	line-height: 1.5em;
}
	p img {
		margin: 0;
	}
abbr,
acronym,
.explain {
	border-bottom: 1px dotted black;
	color: black;
	background: none;
	cursor: help;
}
q {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}
/* Disabled for now
blockquote {
	font-family: Times, "Times New Roman", serif;
	font-style: italic;
}*/
pre, code, tt {
	/*
	 * It's important for this rule to first reference an actual font name, some browsers will render the monospace text
	 * too small otherwise, namely Firefox, Chrome and Safari
	 */
	font-family: monospace, "Courier New";
        overflow: scroll;	
}
code {
	background-color: #f9f9f9;
}
pre {
	padding: 1em;
	border: 1px dashed #2f6fab;
	color: black;
	background-color: #f9f9f9;
	line-height: 1.1em;
}
ul {
	line-height: 1.5em;
	list-style-type: square;
	margin: .3em 0 0 1.5em;
	padding: 0;
	list-style-image: url(assets/bullet-icon.png?1);
}
ol {
	line-height: 1.5em;
	margin: .3em 0 0 3.2em;
	padding: 0;
	list-style-image: none;
}
li {
	margin-bottom: .1em;
}
dt {
	font-weight: bold;
	margin-bottom: .1em;
}
dl {
	margin-top: .2em;
	margin-bottom: .5em;
}
dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: .1em;
}
/* Tables */
table {
	font-size: 100%;
	color: black;
	/* we don't want the bottom borders of <h2>s to be visible through
	 * floated tables */
	background-color: white;
}
fieldset table {
	/* but keep table layouts in forms clean... */
	background: none;
}
/* Forms */
fieldset {
	border: 1px solid #2f6fab;
	margin: 1em 0 1em 0;
	padding: 0 1em 1em;
	line-height: 1.5em;
}
	fieldset.nested {
		margin: 0 0 0.5em 0;
		padding: 0 0.5em 0.5em;
	}
legend {
	padding: .5em;
	font-size: 95%;
}
form {
	border: none;
	margin: 0;
}
textarea {
	width: 100%;
	padding: .1em;
}
select {
	vertical-align: top;
}
/* Table of Contents */
#toc,
.toc,
.mw-warning {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
#toc h2,
.toc h2 {
	display: inline;
	border: none;
	padding: 0;
	font-size: 100%;
	font-weight: bold;
}
#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
	text-align: center;
}
#toc ul,
.toc ul {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
}
#toc ul ul,
.toc ul ul {
	margin: 0 0 0 2em;
}
#toc .toctoggle,
.toc .toctoggle {
	font-size: 94%;
}
/* Images */
div.floatright, table.floatright {
	clear: right;
	float: right;
	position: relative;
	margin: 0 0 .5em .5em;
	border: 0;
}
div.floatright p { font-style: italic; }
div.floatleft, table.floatleft {
	float: left;
	clear: left;
	position: relative;
	margin: 0 .5em .5em 0;
	border: 0;
}
div.floatleft p { font-style: italic; }
/* Thumbnails */
div.thumb {
	margin-bottom: .5em;
	border-style: solid;
	border-color: white;
	width: auto;
	background-color: transparent;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */
div.tright {
	clear: right;
	float: right;
	border-width: .5em 0 .8em 1.4em;
}
/* @noflip */
div.tleft {
	float: left;
	clear: left;
	margin-right: .5em;
	border-width: .5em 1.4em .8em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}
.hiddenStructure {
	display: none;
}
/* Warning */
.mw-warning {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
}



/* Categories */
.catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}
/* Sub-navigation */
#siteSub {
	display: none;
}
#jump-to-nav {
	display: none;
}
#contentSub, #contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #7d7d7d;
	width: auto;
}
span.subpages {
	display: block;
}
/* Emulate Center */
.center {
	width: 100%;
	text-align: center;
}
*.center * {
	margin-left: auto;
	margin-right: auto;
}
/* Small for tables and similar */
.small, .small * {
	font-size: 94%;
}
table.small {
	font-size: 100%;
}
/* Edge Cases for Content */
h1, h2 {
	margin-bottom: .6em;
}
h3, h4, h5 {
	margin-bottom: .3em;
}
#firstHeading {
	padding-top: 0;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0.1em;
	line-height: 1.2em;
	font-size: 1.6em;
	padding-bottom: 0;
}



.toccolours {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	font-size: 95%;
}
#bodyContent {
	position: relative;
	width: 100%;
}
#mw-js-message {
	font-size: 0.8em;
}
div#bodyContent {
	line-height: 1.5em;
}


div.vectorTabs ul {
	background-image:url(assets/tab-break.png?1);
	background-position:right bottom;
	background-repeat:no-repeat;
}

