!!! XML
!!!
%html{"xmlns:xi"=>"http://www.w3.org/2003/XInclude"}
  %head
    %title Référentiel des pratiques Agiles
    <meta name="author" content="Institut Agile"/> 
    %link{:rel=>"stylesheet", :type=>'text/css', :href=>"assets/book.css"}
  %body

  %div.frontCover
    <img src="assets/cover.png"/> 
    %h1 Référentiel des Pratiques Agiles
    %h2 Le développement Agile de A à Z (ou presque)
    %h3 Edition eBook
  
  -# Inclusion directives to pick up all the practice chapters
  {{#parts}}
  {{#values}}
  %xi:include{:href=>"{{uid}}.html"}
  {{/values}}
  {{/parts}}
