!!! Strict
%html
  %head
    %title Référentiel des pratiques Agiles
    %link{:rel=>"stylesheet", :type=>'text/css', :href=>"images/referentiel.css"}
  %body
    #header
      %h1#logo
        Institut
        %span.green Agile
    #header-wrap
      %img.header-photo{:src=>"images/headerphoto.jpg", :width=>"820", :height=>"120"}
    #content
      %h1.firstHeading#firstHeading Référentiel des concepts, pratiques et compétences agiles
      #bodyContent
        %h2 Voir par
        %ul
          %li
            %a(href="index_alpha.html") ordre alphabétique
          %li
            %a(href="index_type.html") type
        %h2 Etat d'avancement
        %table{:width => "40%", :border => "double"}
        {{#parts}}
          %tr
            %td {{group}}
            %td {{full}}/{{total}}
            %td{:align=>"right"} {{pct}}%
        {{/parts}}
