%h1.firstHeading#firstHeading Référentiel des concepts, pratiques et compétences agiles
#bodyContent
  %h2 Fiches par {{order}}
  {{#parts}}
  %h3 {{group}}
  %ul
  {{#values}}
  {{^full}}
    %li {{title}}
  {{/full}}
  {{#full}}
    %li
      %a{:href=>"{{id}}.html"}
        {{title}}
  {{/full}}
{{/values}}
{{/parts}}
