!!! Strict
%html
  %head
    %title Référentiel des pratiques Agiles
    %link{:rel=>"stylesheet", :type=>'text/css', :href=>"images/referentiel.css"}
  %body
    #wrap
      #header
        %h1#logo
          Institut
          %span.green Agile
        %h2#slogan
          Une informatique plus humaine et plus efficace...
        %ul
          %li
            %a{:href=>"http://institut-agile.fr/"}
              %span
                L'Institut
          %li#current
            %a{:href=>"http://referentiel.institut-agile.fr/"}
              %span
                Les pratiques agiles
          %li
            %a{:href=>"http://blog.institut-agile.fr/"}
              %span
                Le blog
      #header-wrap
        %img.header-photo{:src=>"images/headerphoto.jpg", :width=>"820", :height=>"120"}
      #content
        %h1.firstHeading#firstHeading Référentiel des concepts, pratiques et compétences agiles
        #bodyContent
          %h2 Voir par
          %ul
            %li
              %a(href="index_alpha.html") ordre alphabétique
            %li
              %a(href="index_type.html") type
          %h2 Fiches par {{order}}
          {{#parts}}
          %h3 {{group}}
          %ul
          {{#values}}
          {{^full}}
            %li {{title}}
          {{/full}}
          {{#full}}
            %li
              %a{:href=>"{{id}}.html"}
                {{title}}
          {{/full}}
    {{/values}}
  {{/parts}}
