%h1.firstHeading#firstHeading {{title}}
#bodyContent
  #contentSub {{type}}
  {{#sections}}
  %div#{{type}}
    %h2= {{type}}
    :markdown
      {{#text}}
      {{to_s}}
      {{/text}}
  {{/sections}}
