!!! XML
!!!
%div.chapter{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %h1 {{title}}
  %h4 {{type}}
  {{#sections}}
  %div#{{type}}
    %h2= {{type}}
    :markdown
      {{#text}}
      {{to_s}}
      {{/text}}
  {{/sections}}
